 #block {
    width: 100px;
    height: 100px;
    background-color: green;
}
 /*Классы*/
 .redblock{
    width:50px;
    height:50px;
    margin:10px;
    background-color: red;
 }
 .blueblock{
     width:50px;
     height:50px;
     margin:10px;
     background-color: blue;
 }

 /*Идентификаторы*/
 .sheet{
     margin: 10px;
     border: 1px solid #222;
 }
 #header{
    height: 80px;
     background-color: #ccc;
 }
#content{
    height: 180px;
    background-color: #eee;
}
#footer{
    height: 80px;
    background-color: #ccc;
}

/*Универсальный селектор*/
*{
    background-color: lightblue;
}


/*Стилизация группы селекторов*/
 h1,h2,h3{
     color: red;
 }

 /*Селекторы потомков*/
#main p{
    font-size: 18px;
}
#footer2 p{
    font-size: 13px;
}

/*Пример со списком*/
li .redlink{
    color: red;
}