 #block {
    width: 100px;
    height: 100px;
    background-color: green;
}
 /*Классы*/
 .redblock{
    width:50px;
    height:50px;
    margin:10px;
    background-color: red;
 }
 .blueblock{
     width:50px;
     height:50px;
     margin:10px;
     background-color: blue;
 }

 /*Идентификаторы*/
 .sheet{
     margin: 10px;
     border: 1px solid #222;
 }
 #header{
    height: 80px;
     background-color: #ccc;
 }
#content{
    height: 180px;
    background-color: #eee;
}
#footer{
    height: 80px;
    background-color: #ccc;
}

/*Универсальный селектор*/
*{
    background-color: lightblue;
}

/*Стилизация группы селекторов*/
  #group_selectors h2,h3,h1{
     color: blue;
 }

 /*Селекторы потомков*/
#main p{
    font-size: 18px;
}
#footer2 p{
    font-size: 13px;
}

/*Пример со списком*/
li .redlink{
    color: red;
}

 /*Селекторы дочерних элементов*/
 .article > p{
     color:red;
 }

 /*Селекторы элементов одного уровня*/
h2+div{
    color: greenyellow;
}
 /*h2~div{*/
 /*    color: greenyellow;*/
 /*}*/

/*Псевдоклассы*/
 .psevdo a:link: {color: darkgoldenrod; text-decoration: none}
 .psevdo a:visited {color: green; text-decoration: none}
 .psevdo a:hover {color: red; text-decoration: underline}
 .psevdo a:active {color: yellow; text-decoration: underline}
    input:hover {border: 2px solid red; border-radius: 7px;}
/*Селектор :not*/
 .selector_not a:not(.bluelink) { color:red; }

 /*Псевдокласс :lang*/
 .psevdo_lang :lang(ru){ color: green}