 #block {
    width: 100px;
    height: 100px;
    background-color: green;
}
 /*Классы*/
 .redblock{
    width:50px;
    height:50px;
    margin:10px;
    background-color: red;
 }
 .blueblock{
     width:50px;
     height:50px;
     margin:10px;
     background-color: blue;
 }

 /*Идентификаторы*/
 .sheet{
     margin: 10px;
     border: 1px solid #222;
 }
 #header{
    height: 80px;
     background-color: #ccc;
 }
#content{
    height: 180px;
    background-color: #eee;
}
#footer{
    height: 80px;
    background-color: #ccc;
}

/*Универсальный селектор*/
/**{*/
/*    background-color: lightblue;*/
/*}*/

/*Стилизация группы селекторов*/
  #group_selectors h2,h3,h1{
     color: blue;
 }

 /*Селекторы потомков*/
#main p{
    font-size: 18px;
}
#footer2 p{
    font-size: 13px;
}

/*Пример со списком*/
li .redlink{
    color: red;
}

 /*Селекторы дочерних элементов*/
 .article > p{
     color:red;
 }

 /*Селекторы элементов одного уровня*/
h2+div{
    color: greenyellow;
}
 /*h2~div{*/
 /*    color: greenyellow;*/
 /*}*/

/*Псевдоклассы*/
 .psevdo a:link {color: darkgoldenrod; text-decoration: none}
 .psevdo a:visited {color: green; text-decoration: none}
 .psevdo a:hover {color: red; text-decoration: underline}
 .psevdo a:active {color: yellow; text-decoration: underline}
    .psevdo input:hover {border: 2px solid red; border-radius: 7px;}
/*Селектор :not*/
 .selector_not a:not(.bluelink) { color:red; }

 /*Псевдокласс :lang*/
 .psevdo_lang :lang(ru){ color: green}

 /*Псевдокласс first-child*/
 .first-child {
     border: 1px solid;
 }
 .first-child2 a:first-child {
     color: darkgoldenrod;
 }

 /*Псевдокласс last-child*/
 .last-child a:last-child{
     color: darkorange;
 }

 /*Селектор only-child*/
 p:only-child{
     color:red;
 }

 /*Псевдокласс only-of-type*/
 .only-of-type {
     border: 1px solid #222222;
 }
.only-of-type span:only-of-type {
    color: green;
}
p:only-of-type {
    color: red;
}
div:only-of-type{
    color: blue;
}

 /*Псевдокласс nth-child*/
 tr:nth-child(odd) { background-color: #bbb; }
 tr:nth-child(even) { background-color: #fff; }
 tr:nth-child(3n+2) {background-color: darkblue}

 /*Псевдоклассы enabled и disabled*/
 .enabled_disabled :enabled
 {
     border: 2px black solid;
 }

 /*Псевдокласс checked*/
.checked :checked + span
    {
        color: red;
        font-weight: bold;
    }

 /*Псевдокласс default*/
.default :default
    {
        border: 2px solid red;
        border-radius: 10px;
    }

 /*Псевдоклассы valid и invalid*/
 .valid_invalid input:invalid
     {
        border: 2px solid red;
     }
 .valid_invalid input:valid
     {
        border: 2px solid green;
     }

 /*Псевдоклассы in-range и out-of-range*/
 .in-range_out-of-range :in-range
 {
     border: 2px solid green;
 }
 .in-range_out-of-range :out-of-range
 {
     border: 2px solid red;
 }

 /*Псевдоклассы required и optional*/
 .required_optional :optional
 {
    border: 2px solid blue;
 }
 .required_optional :required
 {
     border: 2px solid red;
 }
